[submodule "ViettelSMS_ServerService"]
	path = ViettelSMS_ServerService
	url = https://github.com/th1enq/ViettelSMS_ServerService

[submodule "ViettelSMS_GatewayService"]
	path = ViettelSMS_GatewayService
	url = https://github.com/th1enq/ViettelSMS_GatewayService

[submodule "ViettelSMS_UserService"]
	path = ViettelSMS_UserService
	url = https://github.com/th1enq/ViettelSMS_UserService
