[submodule "ViettelSMS_ServerService"]
	path = ViettelSMS_ServerService
	url = https://github.com/th1enq/ViettelSMS_ServerService

[submodule "ViettelSMS_ReportService"]
	path = ViettelSMS_ReportService
	url = https://github.com/th1enq/ViettelSMS_ReportService


[submodule "ViettelSMS_HealthCheckService"]
	path = ViettelSMS_HealthCheckService
	url = https://github.com/th1enq/ViettelSMS_HealthCheckService

