[submodule "ViettelSMS_ServerService"]
	path = ViettelSMS_ServerService
	url = https://github.com/th1enq/ViettelSMS_ServerService

[submodule "ViettelSMS_MonitoringService"]
	path = ViettelSMS_MonitoringService
	url = https://github.com/th1enq/ViettelSMS_MonitoringService


[submodule "ViettelSMS_HealthCheckService"]
	path = ViettelSMS_HealthCheckService
	url = https://github.com/th1enq/ViettelSMS_HealthCheckService

